<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Register</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<style>
		body, html {
			font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
			height: 100%;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#app {
			box-shadow: 0 0 10px rgba(0,0,0,0.1); /* 添加一些陰影效果 */
			padding: 80px; /* 添加一些內邊距 */
			text-align: center; /* 使內部文字居中 */
		}
		#fileInput {
			display: none;
		}
		.custom-file-upload {
			display: inline-block;
			padding: 1px 2px;
			cursor: pointer;
			background-color: #f8f9fa;
			border: 1px solid #ccc;
			border-radius: 4px;
		}
	</style>
</head>
<body>
    <div id="app">
        <div v-if="showLogin">
            <h1>帳號登入</h1>
            <form @submit.prevent="login">
                <input type="text" v-model="loginForm.username" placeholder="Username"><br/>
                <input type="password" v-model="loginForm.password" placeholder="Password"><br/><br/>
                <button type="submit">登入</button>
                <button type="button" @click="toggleView">註冊</button> <!-- Updated button type to 'button' -->
				<button type="button" onclick="location.href='posts.html';">訪客登入</button>
            </form>
        </div>

        <div v-else>
            <h1>帳號註冊</h1>
            <form >
                手機: <input type="tel" v-model="registerForm.name" placeholder="Telephone"><br/><br/>
                信箱: <input type="email" v-model="registerForm.email" placeholder="Email"><br/><br/>
                密碼: <input type="password" v-model="registerForm.password" placeholder="Password"><br/><br/>
                自介: <textarea v-model="registerForm.biography" placeholder="Biography"></textarea><br/><br/>
				圖片: 
				<!-- <input type="text" v-model="registerForm.coverImage" placeholder="Cover Image URL"><br/><br/> -->
				<input type="file" id="fileInput" @change="handleImageChange" accept=".png"/>
				<label for="fileInput" class="custom-file-upload">
					選擇照片
				</label><br/>
				<img id="preview" v-if="imageSrc" :src="imageSrc" style="max-width: 100px; max-height: 100px;"/><br/><br/>
                <button type="button" @click="register">註冊</button>
                <button type="button" @click="toggleView">返回登入</button> <!-- @submit.prevent="register" -->
            </form>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                showLogin: true,
                loginForm: {
                    username: '',
                    password: ''
                },
                registerForm: {
					name: '',
                    email: '',
                    password: '',
                    coverImage: '',
                    biography: ''
                },
				imageSrc: null
            },
            methods: {
				login() {
					axios.post('/UserController/login', this.loginForm)
						.then(response => {
							if (response.data == 1) {
								alert('登入成功');
								window.location.href = 'posts.html';
							} else {
								alert('登入失敗');
							}
						})
						.catch(error => {
							alert('Login failed');
							// Handle login failure
						});
				},
				register() {
					// 使用 FormData 將資料和圖片一併上傳
					const formData = new FormData();
					formData.append('name', this.registerForm.name);
					formData.append('email', this.registerForm.email);
					formData.append('password', this.registerForm.password);
					formData.append('biography', this.registerForm.biography);
					if (this.registerForm.coverImage) {
						formData.append('coverImage', this.registerForm.coverImage);
					}

					axios.post('/UserController/register', formData, {
						headers: {
							'Content-Type': 'multipart/form-data'
						}
					})
					.then(response => {
						console.log('Post added successfully:', response.data);
						alert("註冊成功");
						this.registerForm = { name: '', email: '', password: '', coverImage: '' , biography: ''  }; // 清空輸入字段
						this.imageSrc = null;
					})
					.catch(error => {
						console.error('Error adding new post:', error);
						alert("註冊失敗");
					});
				},
                toggleView() {
                    this.showLogin = !this.showLogin;
                },
				handleImageChange(event) {
					const file = event.target.files[0]; // 取得選擇的檔案
					if (file && file.type.startsWith('image/')) { // 確認是否為圖片檔案
						this.registerForm.coverImage = file;
						const reader = new FileReader(); // 建立一個 FileReader 來讀取檔案
						reader.onload = (e) => {
							this.imageSrc = e.target.result; // 將讀取到的圖片結果賦值給 imageSrc
						};
						reader.readAsDataURL(file); // 讀取檔案為 Data URL
					} else {
						this.imageSrc = null; // 如果不是圖片檔，清空預覽
					}
				}
            }
        });
    </script>
</body>
</html>